<div class="banner">
  <div class="banner-content">
    <h1>Caipirinharia</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <!-- <a class="btn btn-primary btn-lg">Add your cocktail</a> -->
  </div>
</div>
