<div class="banner">
  <div class="banner-content">
    <h1>Caipirinharia</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <div class="form-group banner-search">
    <%= form_tag(cocktails_path, method: :get) do |f| %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search for a cocktail..."
      %>
    <% end %>
  </div>
  </div>
</div>
