<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <a href="/cocktails" class="navbar-wagon-brand">
    <%= image_tag 'cocktail-logo.png', alt: "logo" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <a href="" id='navbar-link' class="navbar-wagon-item navbar-wagon-link" data-toggle="modal" data-target=".bs-example-modal-lg">Add new cocktail</a>
</div>
</div>

<div class="modal fade centered-modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= render 'cocktails/new', cocktail:Cocktail.new %>
    </div>
  </div>
</div>
